@import './breakingpoint.sass'
@import './fx.sass'
@import './phone.sass'
@import './calc.sass'
@import './homescreen.sass'

main
    width: 100%
    position: relative

    .main-wrapper,
    .main-wrapper *
        color: #fff
        font-family: arial

    .main-wrapper
        width: 100vw
        height: 100vh
        // height: 200vh
        position: relative

        background-color: #ccc

        perspective: 50em

        @include center-flex

.pointer
    cursor: pointer

.modal-wrapper, .__crack
    width: 100%
    height: 100%
    position: absolute

    z-index: 20

    @include center-flex
    
.__crack
    @include backgroundImage('/img/crack.png','0% -17%','contain')

    z-index: 20
    transition: unset !important

    &:before
        content: ''

        width: 100%
        height: 100%

        position: absolute
        @include backgroundImage('/img/cracked.png','0% 55%','contain')

        z-index: 5000

.__modal
    width: calc(100% / 1.25)
    height: auto

    background: rgba(0,0,0,0.5)
    position: absolute
    @include center-flex

    z-index: 3000
    animation: fadeIn 1 1s

    &.__toast
        animation: fadeOut 1 1s

    span
        font-size: 1.3em
        text-align: center
        padding: 5%

.__shake
    animation: shake 10 0.1s